<app-menu></app-menu>
<!-- Primera sección con texto a la izquierda e imagen a la derecha -->

<div class="main-content">
  <div class="content-text">
    <!-- Contenido de texto de la primera sección -->
    <h1>DESCANSA por la noche, RINDE en el día</h1>
    <h3>Síguenos en redes</h3>

    <div class="social-media-links">
      <a
        href="https://www.facebook.com/profile.php?id=61557031150058"
        class="me-4 text-reset"
      >
        <i class="fa-brands fa-facebook fa-beat" style="color: #0074cc"></i>
      </a>
      <a href="https://twitter.com/CronoJobs86705" class="me-4 text-reset">
        <i
          class="fa-brands fa-square-x-twitter fa-beat"
          style="color: #000000"
        ></i>
      </a>
      <a href="https://www.instagram.com/cronojobs/" class="me-4 text-reset">
        <i class="fa-brands fa-instagram fa-beat" style="color: #bc5bc2"></i>
      </a>
      <a
        href="https://www.youtube.com/channel/UCahggse8A5NyLARE-krdg2A"
        class="me-4 text-reset"
      >
        <i class="fa-brands fa-youtube fa-beat" style="color: #ff004c"></i>
      </a>
      <a
        href="https://www.tiktok.com/@cronojobs?lang=es"
        class="me-4 text-reset"
      >
        <i class="fa-brands fa-tiktok fa-beat"></i>
      </a>
      
    </div>
    <div class="social-media-links">
      <a href="#planes" style="text-decoration: underline; font-size: 15px;">Conoce nuestros planes y suscripciones</a>
    </div>
  </div>

  <div class="c-billboard">
    <img src="../../../assets/GifCSS1.gif" alt="Descripción del GIF" />
  </div>
</div>

<h1 class="conocenos-title" style="color: white">Conócenos...</h1>
<!--Inicio de Cards-->
<div class="row mb-3">
  <div class="row">
    <!-- Tarjeta 1: Visión -->
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <img
            src="../../../assets/visionPro.png"
            class="card-img-top"
            alt="Visión"
          />
          <h5 class="card-title">Visión</h5>
          <p class="card-text">
            Revolucionar la gestión de las pequeñas y medianas empresas de todos
            los sectores, ofreciendo un sistema integral que impulse su
            eficiencia y crecimiento sostenible.
          </p>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2: Misión -->
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <img
            src="../../../assets/misionPro.png"
            class="card-img-top"
            alt="Misión"
          />
          <h5 class="card-title">Misión</h5>
          <p class="card-text">
            Facilitar soluciones de gestión personalizables y fáciles de usar
            para optimizar la administración de proyectos, empleados y finanzas,
            permitiendo a nuestros clientes concentrarse en su pasión y
            crecimiento.
          </p>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3: Valores -->
    <div class="col-md-4">
      <div class="card" style="width: 100%">
        <div class="card-body">
          <img
            src="../../../assets/valores4.png"
            class="card-img-top"
            alt="Valores"
          />
          <h5 class="card-title">Valores</h5>
          <ul class="card-text">
            <li>Adaptabilidad</li>
            <li>Innovación</li>
            <li>Integridad</li>
            <li>Transparencia</li>
            <li>Honestidad</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Final de las Cards-->

<h1 class="conocenos-title" id="planes" style="color: white">
  Conoce nuestros servicios...
</h1>
<!-- Inicio de Cards para Planes -->
<div class="row mb-3">
  <div class="card-container">
    <!-- Tarjeta del Plan Básico -->
    <div class="pricing-card">
      <div class="pricing-header basic">
        <h3 class="plan-title">BÁSICO</h3>
        <span class="price-tag">$0 MXN</span>
      </div>
      <ul class="plan-features">
        <!-- Características del Plan Básico -->
        <li>✘ Sin límite de equipos (limitado a dos)</li>
        <li>
          ✔ Kit de usuarios completo (sin límite de administradores, supervisores y empleados)
        </li>
        <li>✘ Sin límite de proyectos (limitado a dos proyectos por equipo)</li>
        <li>✘ Sin límite de tareas (limitado a cuatro tareas por proyecto)</li>
        <li>✘ Incluye notas</li>
        <li>✘ Incluye comentarios</li>
        <li>✘ Incluye gráficas de productividad en proyectos</li>
        <li>✘ Incluye gráficas de productividad en empleados</li>
      </ul>
      <a class="buy-now" href="/registro">COMPRA AHORA</a>
    </div>

    <!-- Tarjeta del Plan Estándar -->
    <div class="pricing-card">
      <div class="pricing-header standard">
        <h3 class="plan-title">PRO</h3>
        <span class="price-tag">$100 MXN</span>
      </div>
      <ul class="plan-features">
        <li>✔ Sin límite de equipos</li>
        <li>
          ✔ Kit de usuarios completo (sin límite de administradores, supervisores y empleados)
        </li>
        <li>✔ Sin límite de proyectos</li>
        <li>✔ Sin límite de tareas</li>
        <li>✔ Incluye notas (posibilidad de añadir notas a proyectos)</li>
        <li>✔ Incluye comentarios (posibilidad de comentar en actividades)</li>
        <li>✘ Incluye gráficas de productividad en proyectos</li>
        <li>✘ Incluye gráficas de productividad en empleados</li>
      </ul>
      <a class="buy-now" href="/registro">COMPRA AHORA</a>
    </div>

    <!-- Tarjeta del Plan Premium -->
    <div class="pricing-card">
      <div class="pricing-header premium">
        <h3 class="plan-title">PREMIUM</h3>
        <span class="price-tag">$150 MXN</span>
      </div>
      <ul class="plan-features">
        <!-- Características del Plan Básico -->
        <li>✔ Sin límite de equipos</li>
        <li>
          ✔ Kit de usuarios completo (sin límite de administradores, supervisores y empleados)
        </li>
        <li>✔ Sin límite de proyectos</li>
        <li>✔ Sin límite de tareas</li>
        <li>
          ✔ Incluye notas (posibilidad de añadir notas a proyectos y de enviar
          notificaciones a los miembros del equipo)
        </li>
        <li>✔ Incluye comentarios (posibilidad de comentar en actividades)</li>
        <li>✔ Incluye gráficas de productividad en proyectos</li>
        <li>✔ Incluye gráficas de productividad en empleados</li>
      </ul>
      <a class="buy-now" href="/registro">COMPRA AHORA</a>
    </div>
  </div>
</div>
<!-- Final de las Cards para Planes -->
<app-footer></app-footer>
