<app-menu></app-menu>
<body>
  <div class="container">
    <div class="row text-center">
      <div class="info">
        <h1>403</h1>
        <h2>¡Prohibido!</h2>
        <div class="message">
            Desafortunadamente, aún no tienes permiso para ver esto.
        </div>
      </div>
    </div>
  </div>
</body>


<!--<app-menu></app-menu>
<body>
    <h1>403</h1>
    <h2>Prohibido</h2>
    <div class="message">
        Desafortunadamente, aún no tienes permiso para ver esto.
    </div>
</body>
-->