<app-menu></app-menu>

<div class="card">
  <div class="card-title bg-dark">
    <h1>Proyecto: {{ proyecto.nombre }}</h1>
  </div>
  <div class="card-body bg-light">
    <div class="row">
      <div class="col-md-12">
        <strong>Descripción:</strong> {{ proyecto.descripcion }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <strong>Fecha de inicio: </strong
        >{{
          proyecto.fecha_inicio !== null && proyecto.fecha_inicio !== ""
            ? proyecto.fecha_inicio.substring(0, 10)
            : "No tiene fecha de inicio"
        }}
      </div>
      <div class="col-md-4">
        <strong>Fecha de finalización (esperada): </strong
        >{{
          proyecto.fecha_fin !== null && proyecto.fecha_fin !== ""
            ? proyecto.fecha_fin.substring(0, 10)
            : "No tiene fecha de finalización"
        }}
      </div>
      <div class="col-md-4">
        <strong>Fecha de termino (real): </strong
        >{{
          proyecto.fecha_termino !== null && proyecto.fecha_termino !== ""
            ? proyecto.fecha_termino.substring(0, 10)
            : "Aún no termina"
        }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"><strong>Área: </strong>{{ proyecto.area }}</div>
      <div class="col-md-6"><strong>Estado: </strong>{{ proyecto.estado }}</div>
    </div>
    <div class="row" *ngIf="rol == 3">
      <div class="col-md-6 ver-actividades">
        <a
          class="btn btn-warning"
          href="/actividades/{{ proyecto.pk_proyecto }}"
          >Ver actividades</a
        >
      </div>
      <div class="col-md-6 culminar">
        <button
          class="btn btn-primary"
          (click)="culminarProyecto()"
          [disabled]="proyecto.estado != 'Pendiente'"
        >
          Culminar proyecto
        </button>
      </div>
    </div>
    <div class="row" style="text-align: center" *ngIf="rol != 3">
      <div class="col-md-12">
        <a
          class="btn btn-warning"
          href="/actividades/{{ proyecto.pk_proyecto }}"
          >Ver actividades</a
        >
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
