<app-menu></app-menu>

<body>
<div id="wrapper">
  <div class="container">
    <!-- Switcher -->
    <div class="switcher">
      <input id="sw" type="checkbox" class="switcher-value" />
      <label for="sw" class="sw_btn"></label>
      <div class="bg"></div>
      <div class="text">
        <span class="text-l">Apaga</span><span class="text-d">Enciende</span
        ><br />la luz
      </div>
    </div>
    <!-- End Switcher -->
    <!-- Dark version -->
    <div id="dark" class="row text-center">
      <div class="info">
        <img src="../../../assets/404 negro.png" alt="404 error" />
      </div>
    </div>
    <!-- End Dark version -->
    <!-- Light version -->
    <div id="light" class="row text-center">
      <!-- Info -->
      <div class="info">
        <img src="../../../assets/404 blanco.gif" alt="404 error" />
        <!-- end Rabbit -->
        <div class="message">
          La página que busca fue movida, eliminada, renombrada o quizás nunca existio.
        </div>
      </div>
      <!-- end Info -->
    </div>
    <!-- End Light version -->
  </div>
  <!-- end container -->
</div>
</body>

<app-footer></app-footer>